<section *ngIf="visible" class="modal">
  <div class="modal-dialog">
    <div class="modal-dialog-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{name}}</h5>
        <button aria-label="Close" class="close" type="button" (click)="closeModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form action="" class="form" [formGroup]="formData">
        <div class="form-group">
          <label class="form-label" for="number">Nömrəsi</label>
          <input class="form-input" type="text" name="" id="number" placeholder="Nömrəsi" formControlName="number">
          <small class="form-text"
            *ngIf="!formData.get('number')?.valid && (formData.get('number')?.touched || formData.get('number')?.dirty)">Boş
            buraxıla
            bilməz</small>
        </div>
        <div class="form-group">
          <label class="form-label" for="name">Adı</label>
          <input class="form-input" type="text" name="" id="name" placeholder="Adı" formControlName="name">
          <small class="form-text"
            *ngIf="!formData.get('name')?.valid && (formData.get('name')?.touched || formData.get('name')?.dirty)">Boş
            buraxıla
            bilməz</small>
        </div>
        <div class="form-group">
          <label class="form-label" for="surname">Soyadı</label>
          <input class="form-input" type="text" name="" id="surname" placeholder="Soyadı" formControlName="surname">
          <small class="form-text"
            *ngIf="!formData.get('surname')?.valid && (formData.get('surname')?.touched || formData.get('surname')?.dirty)">Boş
            buraxıla
            bilməz</small>
        </div>
        <div class="form-group">
          <label class="form-label" for="class">Sinif</label>
          <input class="form-input" type="text" name="" id="class" placeholder="Sinif" formControlName="class">
          <small class="form-text"
            *ngIf="!formData.get('class')?.valid && (formData.get('class')?.touched || formData.get('class')?.dirty)">Boş
            buraxıla
            bilməz</small>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="saveModal()" class="btn save">Yadda saxla</button>
      <button (click)="closeModal()" class="btn close">Bağla</button>
    </div>
  </div>

</section>